# PHASE_ONE PROJECT
## Business understanding
### Business objective
The primary aim of this project is to come up with a system that accurately classifies whether an aircraft is high-risk or low-risk based on the model and brand's history of accidents and incidents. 

This projects will help come up with actionable insights that will accurately advice and guide the head of the new aviation division to make accurate and data-driven decisions on the purchase and operation of airplanes for commercial and private enterprise as the company ventures into this new business endeavor.

### Business problem
According to aviation and plane crash statistics, the odds of an airplane crashing is approximately 0.000001%. Out of 816,545,929, the chance of being killed in a plane crash is 1.
Most factors that contribute to airplane crashes are normally out of human control such as weather conditions, however, factors that play significant roles in accident risks are aircraft model, maintenance and oversight, all things that are humanly possible to control.


Making purchases, especially when a company ventures into business they have no expertise in, can prove to be daunting. This being the foundational phase of a business, determining whether it will be a success or a fail, having expert advice significantly increases the chances of having a successful business. However, as much as human knowledge is valuable, it is also subjective and prone to biases. There is pressing need to have a more scientific and evidence-based approach to help aviation businesses make informed decisions when making purchases.

### Value proposition
This project seeks to help the head of the new aviation division to;
* Make informed decisions when deliberating over aircraft purchases. Having an evidence-based approach will smoothline the process of starting this new endeavor, which in turn, will help overcome common challenges like lack of experience, and market uncertainties.

* Eliminate the need of costly expert advisors who may have their own agendas. Many atimes experts already have companies that they recommend to their clients, to whom they are biased towards, this project aims to eradicate any biases and generate recommendations that will actually be evidence-based.

* Accelerate the consultation process. A business consultation can range from a few hours to several weeks or months, depending on different factors, this project, however will potentially lessen the time significantly as the head of the new aviation division will already have aircraft accurately classified from lowest risk to highest.

* Enhance business outcomes of the new aviation business endeavor. Having high risk aircraft can prove to be costly, when airline plane crashes, the immediate business impact involves significant financial losses, reputational damage, and potential long-term operational challenges, having accurate information on low risk models help the head of the new aviation division avert these crises in the future.

### Business questions
1. Which aircraft are the lowest risk for the company to start this new business endeavor?
2. What actionable insights can I offer the head of the new aviation division to help decide which aircraft to purchase?

### Project plan
In this project, I will be using `AviationData.csv` as my data source. To generate insights for the head of the new aviation division, I will be using `Pandas` for data cleaning, imputation, analysis, and `matplotlib` and `Seaborn` for visualization.

### Success criteria
Factors that will define success for this project include;
* Achieving high accuracy in potential risk classification in aircraft.
* Generating meaningful and useful insights to help business stakeholders make the best decisions and,
* The ultimate success of the new business venture.

## Data understanding
### Data source
In this repository, under the file path `Data` there are 2 CSV files containing information about aviation accidents and incidents that happened between 1962 and 2021 documented by the USA National Transport Safety Board (NTSB).

The NTSB aviation accident database, `AviationData.csv`, contains information from 1962 and later about civil aviation accidents and selected incidents within the United States, its territories and possessions, and in international waters.
`USState_Codes.csv` file contains information about the US states and their abbreviations.

This dataset is most suitable for this particular project as it contains information from as far back as 1962 and as recent as 2021, which gives us a wide range of information to understand what works and what does not in the aviation world.

### Setup
In the next cell, I am setting up my working environment by importing the necessary libraries that I'll be using all through the project. I will be using `Pandas` for data cleaning, imputation, analysis, and `matplotlib` and `Seaborn` for visualization.

In [4]:
#importing the necessary libraries and their standard aliases
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### Data loading and description
Using pandas, I am loading the CSV file `AviationData.csv` as a dataframe into the variable called `Aviation_data` and reading it. Also, I am also accessing the first and last 10 rows. This will give me a feel of the data and help me understand the structure of the data I am working with.

In [6]:
#Loading the CSV file into a dataframe
#accessing the first 10 rows
Aviation_data = pd.read_csv(r'Data\AviationData.csv', encoding= 'latin-1', low_memory= False)
Aviation_data.head(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,NaN,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
9,20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,Personal,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982

In [ ]:
#accessing the last 10 rows
Aviation_data.tail(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88879,20221219106472,Accident,DCA23LA096,2022-12-18,"Kahului, HI",United States,NaN,NaN,NaN,NaN,...,NaN,HAWAIIAN AIRLINES INC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88880,20221219106477,Accident,WPR23LA071,2022-12-18,"San Manual, AZ",United States,NaN,NaN,NaN,NaN,...,Personal,Chandler Air Service,0.0,0.0,0.0,3.0,NaN,NaN,NaN,20-12-2022
88881,20221221106483,Accident,CEN23LA067,2022-12-21,"Auburn Hills, MI",United States,NaN,NaN,NaN,NaN,...,Personal,Pilot,0.0,1.0,0.0,0.0,NaN,NaN,NaN,22-12-2022
88882,20221222106486,Accident,CEN23LA068,2022-12-21,"Reserve, LA",United States,NaN,NaN,NaN,NaN,...,Instructional,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,27-12-2022
88883,20221228106502,Accident,GAA23WA046,2022-12-22,"Brasnorte,",Brazil,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,28-12-2022
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

The dataset contains structured data that has been put in 31 columns and 88889 rows. This data possibly provides answers to what happened? Where? Why? When? Who were involved? among other important questions from looking at the data at a glance. When dealing with aviation, it is important to understand circumstances surrounding the incident or accident and by just looking at the column names, it offers just that.

Most rows contain `null values`, while others seem to have uncomprehensible abbreviations. Not being able to understand the data and having lots of null values could skew te outcome.

To examine the data further, I am using `.info()` to look at the overall dataset. This method gives a concise summary of the data which will help me understand the data structure further. It will give me a summary of how many records the data has, the number of null values and the field identities in the data.

In [7]:
#Examining the data further
Aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

Out of 31 columns, only 4 columns contain the full 88889 records, the rest are either missing from as low as a hundred plus records to as high as seven thousand records.
`Schedule` has the most number of null values, whereas `Location` has the least number of null values.

The dataset has 5 columns containing the `float64` data type and 26 columns containing the `object` data type.

To understand the dataset's values, I am using `.describe()` to get an overview of the numerical data. This method generates descriptive statistics of the data, giving measures of cenral tendency.

In [ ]:
#descriptive statistics
Aviation_data.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

The mean number of engines in aircrafts is 1.14, this does not give us a lot of insigts as a lot of records are 0, which makes the data ambiguous since it is not clear if this means the aircraft had 0 engines, or it had 0 engines after the accident. The number 0 could also be a placeholder because no aircraft can work without an engine, but we won't be sure until we do furter analysis.

For total fatal, serious, minor injuries and total uninjured, the mean is also in 0s, which could be quite impossible given the fatality of aircraft accidents. They could also be placeholders, but we cannot be certain for sure.

### Exploratory data analysis
In this section I am going to dig deeper, visualize and identify relationships between the data.